.email-app{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 220px;
    background-color: #aad5e3a3;
    padding-top: 23px;
}

.email-app-container{
    display: flex;
    flex-direction: row;
    margin-top:40px;
    width: 100%;
    height:300px;
}


@media(max-width: 630px){
    .email-app-container{
        margin-top: 0;
    }
}

