
.user-msg-container{
    position: absolute;
    top: 0;
    right: 43%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 15px;

}

.seccuss{
    background-color: #5180b9ea;
    color: white;
    font-weight: 700;
}

.draft{
    background-color: #5180b9ea;
}

.email-notes{
    background-color: #5180b9ea;

}

.email-marked{
    /* background-color: rgba(164, 226, 164, 0.836); */
    background-color: #5180b9ea;

}

