ul {
    padding: 0;
    margin: 10px;
}

li {
    list-style: none;
    max-width: 300px;
}

.book-img {
    /* width: 100%; */
    max-height: 400px;
}

.book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-list ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.book-list li {
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.book-details {
    background-color: rgb(196, 179, 179);
}

.book-details ul {
    column-count: 2;
}

.book-details li {
    margin-bottom: 10px;
}

.add-review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-review textarea {
    display: block;
}

.footer {
    height: 120px;
}

.user-msg {
    padding: 30px;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    right: 0;
}

.next-prev {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.search-res {
    border-bottom: 1px solid black;
    max-width: 100%;
    width: 70%;
}

.book-add {
    padding-bottom: 20px;
    text-align: center;
}

.book-add h3 {
    margin-top: 0;
}

.book-filter {
    text-align: center;
    padding-bottom: 20px;
}

.book-filter h2 {
    margin-top: 0;
}

.hide {
    display: none;
}

@media screen and (max-width: 700px) {
    .book-list ul {
        grid-template-columns: auto auto;
        gap: 15px
    }
}